@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* COLORS */
.red {
    background-color: #E73646;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    display: flex !important;
    flex-direction: column;
    color: black;
    background-color: #D2E0F2 !important;
    font-family: 'Ubuntu', 'Merriweather', sans-serif;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hoofd-kolom, enkele kolom */

.container {
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    z-index: 0;
}

header {
    width: 100%;
}

.sidenav {
    background-color: #D2E0F2 !important;
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding: 0 10px;
}

.row {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-basis: 100%;
    width: 100%;
    word-wrap: break-word;
}

.column {
    display: flex;
    flex-direction: column;
}

.column > .block {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.column > .block > img {
    width: 10rem;
}

.reversed {
    flex-wrap: wrap-reverse;
}

input {
    background-color: #D2E0F2;
}

input::placeholder {
    color: black;
}

label {
    color: black;
}

.debugComment {
    color: red;
}

/* Algemene instellingen voor banner */

/* Algemene instellingen voor buttons */

.button {
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: #1E64C8;
}

/* Algemene instellingen voor titels */

.page-title {
    font-weight: 450;
    text-align: center;
}

/* Normale titels */

.title {
    font-weight: 350;
    text-align: center;
    margin: 20px 0;
    word-wrap: break-word;
}