.mobile {
    display: none !important;
}

.flex {
    display: flex;
}

.grow {
    align-items: center;
}

/* Instellingen voor headers */
.flex-header {
    display: flex;
    align-items: center;
}

header .title {
    margin-left: 2rem;
}

header .material-icons {
    cursor: pointer;
}

/* Instellingen voor sections */

#profiel-info {
    align-items: flex-start;
}

/* Instellingen voor divs */

.week-container {
    margin-left: 2rem;
    font-size: 2rem;
}

#weekPlanning {
    max-width: 100%;
}

.day-container {
    cursor: pointer;

    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;

    padding: 1rem;
    margin: .5rem;
    min-width: 15rem;

    border-radius: 10px;

    background-color: #1E64C8;
    color: #E7E7E7;
}

.img-block {
    display: none;
}

.img-block > .color-block > .column {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

/* Instellingen voor banners */

.banner {
    max-width: 100%;
}

.banner.s {
    width: 25%;
}

.banner.m {
    width: 50%;
}

.banner.l {
    width: 60%;
}

.banner.xl {
    width: 75%;
}

.banner.top {
    margin-top: 5%;
}

.banner.right {
    margin: 0 10px 10px auto;
}

img.page-banner {
    width: 30%;
    border-radius: 50%;
    /* margin-left: 10px; */
}

/* Instellingen voor buttons */

.button.xs {
    font-size: 14px;
    min-width: 100px;
    /* padding: 5px 10px; */
    margin: 5px 0 0 0;
}

.button.s {
    font-size: 18px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 20px 0 0 0;
}

.button.m {
    font-size: 24px;
    min-width: 150px;
    padding: 20px 30px;
    margin: 20px 0 0 0;
    border-radius: 15px;
}

.button.l {
    font-size: 30px;
    min-width: 200px;
    padding: 25px 35px;
    margin: 20px 0 0 0;
    border-radius: 20px;
}

/* .button:last-child {
    margin: 20px 0;
} */

.button.center {
    margin: 10px auto;
}

.button.wide {
    width: 50%;
    margin: 10px 0;
}

a.button {
    margin: 20px 10px 0 10px;
}

.team-categorie-button {
    cursor: pointer;

    text-align: center;

    padding: .5rem;
    margin: .5rem;

    background-color: #1E64C8;
    color: #E7E7E7;

    font-weight: 300;

    border-radius: 10px;
}

/* Instellingen voor paginatitels - niet menu-titels! - zoals Login, Register, Revalidatie-app */

.page-title.s {
    font-size: 24px;
}

.page-title.m {
    font-size: 30px;
}

.page-title.l {
    font-size: 40px;
}

.page-title.xl {
    font-size: 50px;
}

/* Normale titels */

.title.s {
    font-size: 24px;
}

.title.m {
    font-size: 30px;
}

.title.l {
    font-size: 40px;
}

.title.xl {
    font-size: 50px;
}

.title.left {
    text-align: left;
}

/* Instellingen voor side-nav */

.side-nav-item {
    /* border: 1px solid black; */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100% !important;
    margin: 10px 3rem !important;
    border-radius: 10px;
}

.side-nav-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menuRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
}

.sidenav:first-child {
    padding-top: 10px;
}

.flow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}