@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    background-color: #B0D2FF;
    font-family: 'Ubuntu', 'Merriweather', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bolder;
}

/*  BEGIN un-comment onderstaande lijnen als je bezig bent op de 000webhost-pagina om een kleine margin 
    op de onderkant te voorzien voor de sponsor banner van de hosting service. */

/*  TODO: werkt nog niet op hoofdmenu, voor een of andere reden. */

/* body {
    margin: 0 0 50px 0;
} */

/*  EINDE */

.center {
    margin: auto;
}

.bottom {
    margin: auto auto 10px auto;
}

p.debugComment {
    color: red;
    font-size: 14px;
}

.debugComment.center {
    max-width: 80%;
    margin: 0 auto 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header i {
    width: 30px;
    display: block;
    left: 10px;
    top: 10px;
    text-align: left;
    cursor: pointer;
}

header {
    margin-top: 10px;
    text-align: center;
}

.mainTitle {
    margin-top: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.login {
    display: flex;
    justify-content: center;
    flex-basis: 100px;
}

.login form {
    margin-top: 15%;
}

.login input {
    padding: 20px;
    margin: 10px 0;
    font-size: 20px;
}

.login input::placeholder {
    color: black;
}

.row input::placeholder {
    color: black;
}

.checkbox-blue[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #1E64C8;
    background-color: #1E64C8;
}

/* .login input[type="checkbox"] {
    padding: 0;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: none;
} */

.lgnorreg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 20px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #1E64C8;
    width: 50%;
    border-radius: 15px;
}

.button.medium {
    padding: 10px;
    margin-top: 10px;
}

/* 
.button.number-button {

} */

.button.logout-button {
    background-color: #c9534b;
}

.button.login {
    width: auto;
}

footer {
    justify-content: flex-end;
    align-self: center;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .banner {
        width: 75%;
    }
    
    .banner.small {
        position: fixed;
        bottom: 10px;
        right: 10px;
        max-width: 50%;
        
        flex-grow: 1;
        justify-self: flex-end;
    }

    .mainTitle {
        margin-top: 25%;
        font-size: 24px;
    }
}

.mainTitle.big {
    margin-top: 20%;
    font-size: 34px;
}

.top-title {
    margin-top: 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row:not(:first-child) {
    margin-top: 20px;
}

.row:last-child {
    margin-bottom: 20px;
}

.menuItem {
    max-width: 50%;
}

.rowItem {
    display: flex;
    flex-direction: column;
}

.menuItem a {
    font-size: 14px;
    margin: 10px auto auto auto;
    padding: 5px;
}

.menuPicture {
    margin: auto;
    max-width: 50%;
    border-radius: 50%;
}

